*{box-sizing: border-box;
    margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    height: 50vh;
    background-image: url(BEDROOM4.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
/* written text*/
#service{
    width: 100%;
    padding: 70px 0;
}
.box {border-radius:15px;
    border: 2px solid#eae8f0;
    padding: 100px;
    padding-bottom: 70px;
text-align: center;
background-color: rgb(238, 236, 215);
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}
.para{
    text-align: center;
    text-decoration-style: wavy;
    font-style: italic;

}
/* images */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column1{
    float: left;
    width: 50%;
    padding: 10px;
  }
  .column1 img{
      margin-top: 12px;
  }